<!DOCTYPE html>
<html>
			<head>
			</head>
		<body>
				<table>
					
						<tr align="left"bgcolor="yellow">
							<td width="300">Item No</td>
							<td width="300">Quantity</td>
							<td width="300">Items</td>
						</tr>
					
						<tr >
							<td><%= session.getAttribute("s1") %></td>
							<td><%= session.getAttribute("s2") %></td>
							<td><%= session.getAttribute("s3") %></td>
						</tr>
						<!-- table data will be inserted here dynamically -->
					
				</table>
		</body>
</html>